/********************************************************
          Feuille de style de la page Bachelor
*********************************************************
    I/ Général
    II/ Main
    III/ La liste des sections (les <li>)
    IV/ La partie Testeur en informatique
    V/ La partie Technicien en maintenance informatique
    VI/ La partie Développeur informatique
    VII/ La partie Intégrateur web
    VIII/ Aside
        1) Général
        2) La section 1, le graphique
        3) La section 2, liste d'I.U.T.
    IX/ Bouton agrandir du graphique
    X/ Résponsivité
********************************************************/


/********************************************************
    I/ Général
********************************************************/


*{
  list-style-type : none ; /* Enlève les puces qui sont mises automatiquement sur les listes */
  text-decoration : none ; /* Enlève les soulignages qui sont mis automatiquement sur les liens */
}


/********************************************************
    II/ Main
********************************************************/


main{
  display : flex ; /* Le main devient flex-conteneur et ses enfants flex-items */
  flex-wrap : wrap ; /* Ces enfants peuvent aller à la ligne */
}


/********************************************************
    III/ La liste des sections (les <li>)
********************************************************/

.conteneur{
  flex-wrap : nowrap ; /* Les enfants ne peuvent pas aller à la ligne */
}

h3{
  text-align : center ; /* Le titre h3 est centré */
}

.img_metier{
  object-fit : cover ; /* Les images sont de type cover */
  height : 70% ; /* La hauteur est de 70% */
  margin-left : 5px ; 
  margin-right : 5px ;
  /* Marge droite et gauche de 5 pixels */
}

.img_salaire{
  display : block ; /* Les images salaire sont de types block, permet un meilleur positionnment */
  margin-right : auto ;
  margin-left : auto ;
  /* Les marges droite et gauche sont auto, donc l'image est centrée verticalement */
  margin-bottom : 20px ; /* La marge d'en dessous est de 20 pixels */
  margin-top : 10px ; /* La marge en hautr est de 10 pixels */
  float : left ; /* L'image float sur la gauche */
}

.ul_metier{
  flex-basis : 100% ; /* Prend toute la place disponible */
  padding-right : 10px ;
  padding-left : 10px ;
  /* Padding de 10 pixels à droite et à gauche */
  margin-left : auto ;
  margin-right : auto ;
  /* Marge automatique à droite et à gauche, permet de centrer à la vertical  */
  margin-top : 25px ; /* La marge au dessus est de 25 pixels */
  max-width : 450px ; /* La largeur maximal est de 450 pixels */
}

.p_metier{
  text-align : center ; /* Les paragraphes sont alignés au centre */
}

.li-metier{
  flex-basis : 100% ; /* Prend 100% de la place disponible */
}

.li_barre{
  border-bottom : solid #124395 ; /* Met une bordure solide bleu en bas des élements de la classe li_barre */
  border-bottom-width : 2px ; /* La bordure fait 2 pixels */
}


/********************************************************
    IV/ La partie Testeur en informatique
********************************************************/

/* La section correspond à l'image et au titre de la partie */
#section_testeur_1{
  margin-left : 15px ; /* Marge gauche de 15 pixels*/
}


/********************************************************
    V/ La partie Technicien en maintenance informatique
********************************************************/

/* La section correspond à l'image et au titre de la partie */
#section_technicien_1{
  margin-right : 15px ; /* Marge gauche de 15 pixels*/
  margin-bottom : 15px ; /* Marge en dessous de 15 pixels */
}

#img_technicien{
  display : block ; /* L'image est en display block pour pouvoir jouer sur son positionnment avce des marges auto*/
  margin-right : auto ;
  margin-left : auto ;
  /* Marge droite et gauche en automatique pour que l'image soit centrée verticalement */
  margin-bottom : 10px ; /* La marge du bas est de 10 pixels */
}


/********************************************************
    VI/ La partie Développeur informatique
********************************************************/

/* La section correspond à l'image et au titre de la partie */
#section_dev_1{
  margin-left : 15px ; /* Marge gauche de 15 pixels*/
}


/********************************************************
    VII/ La partie Intégrateur web
********************************************************/

/* La section correspond à l'image et au titre de la partie */
#section_integrateur_1{
  margin-right : 15px ; /* Marge gauche de 15 pixels*/
}

#ul-integra{
  display : flex ; /* Le ul de la liste de paragraphe devient flex conteneur */
  flex-wrap : wrap ; /* Ses enfants peuvent aller à la ligne */
}

/* Les deux premiers paragraphes */
#li-integra-1, #li-integra-2{
  flex-basis : 45% ; /* Ils prennent 45% de la place disponible */
  margin-left : auto ;
  margin-right : auto ;
  /* Marge droite et gauche en automatique pour que les li soient centrées verticalements */
  margin-bottom : 10px ; /* Marge de 10 pixels en bas */
}

/* Le dernier paragraphe et l'image de salaire */
#li-integra-3, #li-integra-4{
  flex-basis : 100% ; /* Prennent toute la largeur */
}

.li_barre-top{
  border-top : solid #124395 ; /* Met une bordure solide bleu en haut des élements de la classe li_barre_top  */
  border-top-width : 2px ; /* La bordure est de 2 pixels */
  padding-top : 10px ; /* Padding de 10 pixels pour jouer sur la place de la bordure */
}


/********************************************************
    VIII/ Aside
********************************************************/

/*
1) Général
*/

aside{
  height : 895px ; /* La hauteur du aside est de 895 pixels */
  display : flex ; /* Le aside devient display flex */
  flex-wrap : wrap ; /* Ses enfants peuvent aller à la ligne */
}

/* Les deux sections du aside */
.section-aside{ 
  flex-basis : 100% ; /* Elles prennent toute la place disponible */
  margin : 20px ; /* Marge de 20 pixels tout autour */
}

/*
2) La section 1, le graphique
*/

#section-aside-1{
  margin-bottom : 0px ; /* Enlève la marge du dessous */
}

#graphique{
  width : 100% ; /* Le graphique prend 100% de la largeur */
}

#p_graphique{   
  font-size : 0.5em ; /* La taille de police de la source est de 0.5 em */
}


/*
3) La section 2, liste d'I.U.T.
*/

#section-aside-2{
  border-top : solid #124395 ; /* Met une bordure solide bleu en haut de la section */
  border-top-width : 2px ; /* La bordure fait 2 pixels */
  padding-top : 25px ; /* Padding de 25 pixels pour le placement de la barre */
}

.li-aside-barre{
  border-bottom : solid #124395 ; /* Met une bordure solide noir en bas des élements de la classe li-aside-barre c'est-à-dire entre chaque I.U.T.  */
  border-bottom-width : 1px ; /* La bordure est de 1 pixel */
  margin-right : 30px ; /* Marge à droite de 30 pixels, pour que les bordures ne fassent pas tous le long */
}

.li-aside{
  padding-bottom : 12px ; /* Padding de 12 pixel en bas */
  padding-top : 13px ; /* Padding de 13 pixel en haut */
  /* Positionement de la barre */
}

.a-aside{
  color : #000000 ; /* Modifie la couleur en noir */
}

/* Lors du survol des liens des écoles d'ingénieurs */
.a-aside:hover{
  color : grey ; /* La couleur devient grise */
}


/********************************************************
    IX/ Bouton agrandir du graphique
********************************************************/

.bouton-agrandir{
  height : 36px ;
  width : 36px ;
  /* Le bouton est un carré de 36 pixels par 36 pixels */
  border-radius : 5px ; /* Les bords sont arrondis de 5 pixels */
  background-color : #EEEEEE ; /* Couleur de l'arrière plan */
  cursor : zoom-in ; /* Le curseur devient une loupe quand il passe sur le bouton */
  position : relative ; /* La position est relative pour positionner le bouton dans le graphique */
  bottom : 65px ; /* Le bouton remonte de 65 pixels grâce à la position relative */
  display : flex ; /* Devient flex conteneur et permet d'utiliser align-items et justify-content */
  align-items : center ; /* Permet de centrer la loupe verticalement */
  justify-content : center ; /* Permet de centrer la loupe horizontalement */
  transition : all .25s ease-in-out ; /* Transition de 0.25 secondes */
}


/********************************************************
    X/ Résponsivité
********************************************************/


/* Breakpoint à 1200 pixels */
@media only screen and (max-width : 1200px) {

  aside{
    height : auto ; /* La hauteur du aside devient automatique */
  }

  .bouton-agrandir{
    bottom : 100px ; /* Le bouton est maintenant à 100 pixels en haut de sa position */
  }
}