/********************************************************
        Feuille de style de la carte intéractive
*********************************************************
    I/ Carte
    II/ Listes
********************************************************/


/********************************************************
    I/ Carte
********************************************************/



.svg-carte{
	margin : 7px ; /* La carte a une marge de 7 pixels tout autour */
}

.map__image{
	margin-top : 20px ; /* La div de la carte a une marge de 20 pixels au dessus */
}

.map__image path{
  fill : #A4CED2 ; /* rempli tous les départements (paths) */
	stroke : #fff ; /* change la couleur des bordures délimitant chaque département */
	stroke-width : 1px ; /* change la largeur des bordures */
	transition : fill 0.3s ; /* ajoute une transition quand on passe sur un département avec un délai de 0.3s */
}

.map__image .is-active path{
  fill : #124395 ; /* change la couleur de remplissage des départements après avoir séléctionné une école */
}


/********************************************************
    II/ Liste
********************************************************/

.paragraphe_aside{
	margin-left : 16px ; /* Met une marge de 16 pixels à gauche des paragraphes de l'aside */
}

.map__list a{
	transition : color 0.3s ; /* ajoute une transition lorsqu'on clique sur un lien avec un délai de 0.3s */
	cursor : pointer ; /* Sur les liens, le curseur est un pointeur pour montrer qu'on peut cliquer dessus */
	font-size : 15px ; /* La taille de la police est de 15px */
	display : block ; /* Change le type en type block pour que les a aient un comportement de type block */
	margin-top : 3px ; /* Met une marge de 3 pixels en hauts */
}

.map__list a.is-active{
	color : #124395 ; /* change la couleur du lien cliqué */
	font-weight : bold ; /* met le texte du lien en gras */
}

.logo-ecole{
	height : 1.33em ; /* La hauteur des logo est de 1.33 em */
	margin-right : 10px ; /* Les logos ont une marge de 10 pixels à droite pour faire un espace entre les logos et le paragraphe */
	vertical-align : middle ; /* Aligne le logo au milieu en vertical */
}

.nom-ecole{
	display : inline-block ; /* Les noms d'écoles devienent inline block permettant d'utiliser vertical-align et que les noms restent sur la même ligne que les logos */
	vertical-align : middle ; /* Aligne le texte au milieu en vertical */
	margin : 6px 0px ; /* Marge de 6 pixels en haut et en bas */
}