/********************************************************
                Feuille de style accueil
*********************************************************
    I/ Général 
    II/ Html
    III/ Body
    IV/ Header  
        1) Header 
        2) La section du header 
        3) Résponsivité du header
        4) Menu de navigation du header
    V/ Main
        1) Main
        2) Partie principale 
        3) Aside
        4) Responsivité du main entre le aside et les parties
        5) Responsivité de la page en général
    VI/ Footer
        1) Footer
        2) Partie coordonnées
        3) Partie copyright
        4) Section réseaux
        5) Liste de noms
        6) Autres
    VII/ Bouton retour en haut
        1) Le bouton
        2) La flèche
        3) positionnement
    VIII/ Bouton agrandir le graphique
        1) Bouton agrandir 
        2) Page de l'image en grand
        3) Bouton fermeture 
        4) Responsivité du bouton de fermeture
********************************************************/


/********************************************************
    I/ Général
********************************************************/


* {
  font-family : 'Montserrat', sans-serif ; /* La police du site est Montserrat */
}


/********************************************************
    II/ Html
********************************************************/

/* Un  script met la class "active" au html lorsque le scrll doit être enlevé */

html.active {
  overflow : hidden ; /* Les éléments en dehors du html sont rendu invisible, ce qui enlève le scroll de la page */
}


/********************************************************
    III/ Body
********************************************************/

body {
  display : flex ; /* Le body devient flex-container et ses enfants flex-items  */
  flex-wrap : wrap ; /* Les flex-items de body peuvent aller à la ligne */
  margin-top : 0px ; /* Enlève la marge du dessus qui est mise automatiquement */
  background-color : #EEEEEE ; /* Modifie la couleur d'arrière plan du body donc de la page */
}


/********************************************************
    IV/ Header  
********************************************************/


/*
1) Header 
*/
header {
  flex-basis : 100% ; /* Le header occupe toute la largeur */
  z-index : 1 ; /* Le header passe au dessus des autres éléments tel que les boutons pour agrandir les graphiques */
}


header {
  position : sticky ;
  top : 0 ;
  background-color : #EEEEEE ;
}


/* 
2) La section du header 
*/

.bloc {
  margin : auto ; /* Marge automatique pour centrer horizontalement */
  padding : 0 30px ; /* Padding de 30 pixels à droite et à gauche */
}

/* Section qui est composée du nom du site, le logo et les logos iut et universitaire */
#section_header {
  display : flex ; /* La section avec comme identifiant header_section devient flex container */
  flex-wrap : nowrap ; /* Les éléments da la section du header restent sur une seule ligne */
}

.logo {
  display : block ; /* Transforme le logo en type block */
  margin-top : 25px ; /* Marge de 25 pixels en haut pour se décaler de la bordure */
  margin-right : 20px ; /* MArge de 20 pixels à droite pour se décaler du titre */
}

h1 {
  flex-basis : 70% ; /* Le titre h1 prend 70% de la place disponible en largeur au maximum */
}

.img_h {
  margin-top : 8px ; /* Les logos de l'iut et de l'université ont une marge de 8 pixels en haut pour se décaler du bord */
}

/*
3) Responsivité du header
*/

/* Permet de modifier l'en-tête du header lorsque la page devient plus petite */

/* Fait effet lorsque la taille d'écran est supérieure à 1200 pixels */
@media screen and (min-width : 1200px) {

  .bloc {
    max-width : 1075px ; /* La taille maximal de la classe bloc est de 1075 pixels */
    padding : 0 15px ;  /* La classe bloc a un padding de 15 pixels à droite et à gauche*/
  } 

  .img_h {
    height : 5.6em ; /* La taille des logos est de 5.6 em */
  }

  #section_header { 
    height : 105px ; /* La section du header est de 105 pixels */
  }

  h1 {
    font-size : 2.4em ; /* La taille de la police du h1 est de 2.4 em */
  }

  .logo {
    height : 3em ; /* La taille du logo principal est de 3 em */
  }
}

/* Fait effet lorsque la taille d'écran est inférieure à 1200 pixels */
@media screen and (max-width : 1200px) {

  .bloc {
    padding : 0 39px ; /* La classe bloc a un padding de 39 pixels à droite et à gauche*/
  } 

  .img_h {
    height : 3em ; /* La taille des logos est de 3 em */
  }

  #section_header {
    height : 80px ; /* La section du header est de 80 pixels */
  }

  h1 {
    margin-top: 17px;
    font-size : 1.9em ; /* La taille de la police du h1 est de 1.9 em */
  }

  .logo {
    height : 2.5em ; /* La taille du logo principal est de 2.5 em */
    margin-top : 10px ; /* La marge au dessus du logo est de 17 pixels pour être aligné au titre */
  }
}

/* Fait effet lorsque la taille d'écran est inférieure à 700 pixels */
@media only screen and (max-width : 700px) {
  .bloc {
    padding : 0 25px 0 15px ; /* La classe bloc a un padding de 15 pixels à droite et à gauche*/
  }

  .img_h {
    height : 2.8em ; /* La taille des logos est de 2.8 em */
  }

  #section_header {
    height : 55px ; /* La section du header est de 55 pixels */
  }

  h1 {
    font-size : 1.3em ;  /* La taille de la police du h1 est de 1.3 em */
  }

  .logo {
    height : 2em ; /* La taille du logo principal est de 2 em */
    margin-top : 8px ; /* La marge au dessus du logo est de 8 pixels pour être aligné au titre */
  }
}


/*
4) Menu de navigation du header
*/

#nav_horizontal{
  background-color : #124395 ; /* Modifie la couleur d'arrière plan du menu de navigation */
}

#ul_header {
  display : flex ;  /* Le ul du nav qui est dans le header devient flex container */
}

/* Permet les barres blanches dans le nav entre chaque lien*/
.li-barre { 
  border-left : solid white ; /* Met une bordure solide blanche à gauche des éléments de la classe li-barre  */
  border-left-width : 2px ; /* Met l'épaisseur de la bordure de gauche à 2px */
  margin-bottom : 12px ;
  margin-top : 12px ;
  /* Met une marge de 12 pixels en haut et en bas pour centrer les éléments au milieux verticalement */
  padding: 5px ; /* Padding de 5 pixels pour le positionnement des barres */
}

/* Le lien Accueil qui n'a pas de barre */
#li-nav-1 {
  margin-bottom : 12px ;
  margin-top : 12px ;
  /* Marge de 12 pixels en bas et en haut pour le centrer */
  padding-top : 4px ;
  padding-bottom : 4px ;
  /* Padding de 4 pixels pour le positionnement */
}

.li_nav {
  text-align : center ; /* Permet d'aligner le texte au milieu*/
  padding-right : 20px ; /* Met un padding à droite de 20px */
} 

/* Lien de la page où on est */
.a-ici {
  text-decoration : underline ; /* Souligne le lien */
}

#a_droite1 {
  padding-left : 20px ; /* Met le padding gauche de l'identifiant a_droite1 à 20px */
}

#a_droite2 {
  padding-left : 20px ; /* Met le padding gauche de l'identifiant a_droite2 à 20px */
}

#a_droite3 {
  padding-left : 20px ; /* Met le padding gauche de l'identifiant a_droite3 à 20px */
}

#nav_horizontal {
  height : 55px ; /* Met une hauteur de 55px au nav */ 
}

.a_nav {
  font-weight : 700 ; /* Permet de mettre le texte en gras */
  display : block ; /* Transforme en type bloc pour le centrer */
  text-align : left ; /* Aligne le texte à gauche */
  color : #ffffff ; /* Modifie la couleur des écritures des a du nav */
}

.a_nav:hover {
  color : grey ; /* Lorsque la souris est sur les liens du nav alors le texte blanc devient gris */
}


/********************************************************
    V/ Main
********************************************************/

/*
1) Main
*/

main {
  flex-basis : 100% ; /* Le main occupe toute la largeur */
}

.ul_main {
  padding-left : 0 ; /* Enlève le padding mis automatiquement sur les listes */
}

.ul_main_aside {
    margin-top : 0px ; /* Enlève le margin du haut */
    padding-left : 0px ; /* Enleve le padding gauche qui est de base à 40px pour les listes */
}

/* La class "conteneur" sont les sections avec une ombre de chaque page */
.conteneur {
  display : flex ; /* Rend les conteneurs flex conteneur et leurs enfants flex items */
  flex-wrap : wrap ; /* Les enfants peuvent aller à la ligne */
  flex-basis : 100% ; /* Chaque conteneur prend 100% de la place disponible */
  margin-left : 15px ; /* Marge de gauche à 15 pixels */
  margin-top : 25px ; /* Marge au dessus de 25 pixels */
  margin-bottom : 50px ; /* Marge en dessous de 50 pixels */
  margin-right : 5px ; /* Marge à droite de 6 pixels */
  padding : 5px ; /* Padding de 5 pixels */
  border-radius : 10px ; /* Les angles sont arrondis de 10 pixels */
  box-shadow : -1px 4px 4px rgba(0, 0, 0, 0.25), 3px -3px 4px rgba(0, 0, 0, 0.25) ; /* L'ombre mis sur les sections */
}

.img-ombre {
  box-shadow : 5px 5px 4px grey ; /* Les images des métiers ont une ombre */
}

/* 
2) Partie principale 
*/

#principale {
  display : flex ; /* La partie princiaple de chaque page devient flex */
  flex-basis : 100% ; /* La partie occupe toute la place */
  flex-wrap : nowrap ; /* Les enfants ne vont pas à la ligne */
  margin-top : 30px ; /* La marge en haut est de 30 pixels pour se décaler du header */
  margin-left : auto ; /* La marge à gauche est en automatique */
}

#article-principal {
  max-width : 70% ; /* L'article de la partie princiaple prend au maximum 70% de la place */
  margin-left : auto ; /* La marge de gauche est en automatique */
}

#titre-principal {
    text-align : center ; /* Le titre est aligné au centre */
}

.p-principal {
    text-align : center ; /* Les paragraphes sont alignés au centre */
    margin-right : auto ;
    margin-left : auto ;
    /* Marge à droite et gauche en automatique ce qui centre les paragraphes */
}

#logo-principal {
    float : right ; /* Le logo flotte à droite */
    display : block ; /* Le logo est transformé en élément de type block pour jouer sur la marge automatique */
    margin-right : auto ; /* Marge droite en automatique */
    margin-left : 15px ; /* Marge gauche à 15 pixels pour s'écarter des textes */
}


/*
3) Aside
*/

aside {
  flex-grow : 1 ; /* Flex grow à 1 prend la place si il y en a de disponible */
  border-radius : 10px ; /* Les bords sont arrondis */
  box-shadow : -1px 4px 4px rgba(0, 0, 0, 0.25), 3px -3px 4px rgba(0, 0, 0, 0.25) ; /* Ombre comme la class .conteneur */
  margin-top : 25px ; /* Marge au top de 25 pixels pour s'écarter de la partie principale */
  margin-bottom: 30px; /* Met une marg de 20 pixels en dessius du aside */
  padding-top : 8px ; /* Le padding du haut est de 8 pixels */
  height : 100vh ; /* La hauteur est de 100vh soit 100% de la hauteur de la page */
}

/* 
4) Responsivité du main entre le aside et les parties
*/

/* A 1200 pixels, le aside passe à la ligne et les parties prennent toutes la place */

/* Lorsque la taille de l'écran est supérieure à 1200 pixels */
@media only screen and (min-width : 1200px) {

  aside {
    flex-basis : 30% ; /* Le aside prend 30% de la place */
    margin-right : 20px ; /* Marge à droite de 20 pixels */
    margin-left : 33px ; /* Marge gauche de 33 pixels */
  }
  
  .ul_main_aside {
    flex-basis : 64% ; /* Les parties prennent 64% de la place */
  }
}

/* Lorsque la taille de l'écran est inférieure à 1200 pixels */
@media only screen and (max-width : 1200px) {

  .ul_main_aside {
    flex-basis : 100% ; /* Maintenant les parties prennent 100% de la place */
    margin-left : 5px ; /* Marge à gauche de 5 pixels */
    margin-right : 5px ; /* Marge à droite de 5 pixels */
    margin-bottom : 0px ; /* Enlève la marge du dessous */
  }
    
  aside {
    flex-basis : 100% ; /* Le aside prend toute la place et passe donc à la ligne */
    margin-left : 20px ; /* Marge à gauche de 20 pixels */
    margin-right : 10px ; /* Marge à droite de 10 pixels */
    height : auto ; /* La hauteur est automatique pour prendre la place necessaire au bon affichage */
    margin-top : 0px ; /* Enlève la marge du dessus */
  }
}


/* 
5) Responsivité de la page en général
*/

/* 3 breakpoints */

/* Fait effet lorsque la taille est inférieure à 700 pixels */
@media only screen and (max-width : 700px) {

  p {
    font-size : 0.7em ; /* La taille de la police des paragraphes est de 0.7em */
  }

  h2 {
    font-size : 1.2em ; /* La taille de la police des h2 est de 1.2em */
  }

  h3 {
    font-size : 0.8em ; /* La taille de la police des h3 est de 0.8em */
  }

  h4 {
    font-size : 0.6em ; /* La taille de la police des H4 est de 0.6em */
  }

  .img_metier {
    width : 10.625em ; /* La largeur des images des metiers est de 10.625em */
  }

  .img_salaire {
    width : 18.75em ; /* La largeur des images des metiers est de 18.75em */
  }

  #logo-principal {
    height : 5.25em ; /* La largeur des logos principaux est de 6.25em */
  }
}

/* Fait effet lorsque la taille de l'écran est supérieure à 700 pixels */
@media only screen and (min-width : 700px) {

  p {
    font-size : 0.8em ; /* La taille de la police des paragraphe est de 0.8em */
  }

  h2 {
    font-size : 1.3em ; /* La taille de la police des paragraphe est de 1.3em */
  }

  h3 {
    font-size : 1em ; /* La taille de la police des paragraphe est de 1em */
  }

  h4 {
    font-size : 0.8em ; /* La taille de la police des paragraphe est de 0.8em */
  }

  .img_metier {
    width : 13.75em ; /* La largeur des images des salaires des métiers est de 13.75em  */
  }

  .img_salaire {
    width : 22.5em ; /* La largeur des images des salaires des métiers est de 22.5em */
  }

  #logo-principal {
    height : 7.5em ; /* La largeur des logos principaux est de 7.5em */
  }
}

/* Fait effet lorsque la taille de l'écran est suypérieure à 900 pixels */
@media only screen and (min-width : 900px) { 

  p {
    font-size : 1em ; /* La taille de la police des paragraphe est de 1em */
  }

  h2 {
    font-size :1.5em ; /* La taille de la police des paragraphe est de 1.5em */
  }

  h3 {
    font-size : 1.2em ; /* La taille de la police des paragraphe est de 1.2em */
  }

  h4 {
    font-size :1em ; /* La taille de la police des paragraphe est de 1em */
  }

  .img_metier {
    width : 15.625em ; /* La largeur des images des métiers est de 15.625em */
  }

  .img_salaire {
    width : 28.125em ; /* La largeur des images des salaires des métiers est de 28.125em */
  }

  #logo-principal {
    height : 9em ; /* La largeur des logos principaux est de 0.7em */
  }
}



/********************************************************
    VI/ Footer
********************************************************/

/*
1) Footer
*/

footer {
  flex-basis : 100% ; /* Le footer occupe toute la largeur */
  display : flex ; /* Le footer devient flex-container donc ses enfants flex-items */
  flex-wrap : wrap ; /* Les flex-items du footer peuvent aller à la ligne */
  font-size : 0.9em ; /* La taille de la police est de 0.9em */
  background-color : #124395 ; /* Modifie la couleur d'arrière plan du menu de navigation */
  color : #ffffff ; /* Met la couleur des textes en blanc */
}

/* Ce sont deux div qui permettent le bon positionnement des élements du header */
.div_positionnement {
  display : flex ; /* Les div sont flex */
  flex-wrap : nowrap ; /* Les enfants ne peuvent pas aller à la  ligne */
  flex-basis : 100% ; /* Occupe toute la place */
}

/*
2) Partie coordonnées
*/

.section-coordonne {
  display : flex ; /* La section devient flex */
  flex-wrap : wrap ; /* Les flex-items peuvent aller à la ligne */
  margin-top : 20px ; /* Marge en haut de 20 pixels pour se décaler du haut du header */
  margin-left : 20px ; /* Marge à gauche de 20 pixels pour se décaler du bord */
  margin-right : auto ; 
  margin-bottom : auto ;
  /* Margin droit et bas en auto pour que la section reste en haut à gauche dans le header */
}

.section-coordonne .p_barre {
  margin-bottom : 3px ; /* Ils ont une marge en bas de 3 pixels */
}

.ul_coordonne {
  flex-basis : 100% ; /* Le ul de la classe ul_coordonne prend 100% de la place */
}

#h5-renseignement {
  padding-right : 123px ; /* Padding droit de 123 pixels pour jouer sur la taille de la bordure en dessous */
}


/*
3) Partie copyright
*/

#p_copy {
  padding-top : 55px ; /* Padding de 55 pixels pour se décaler des coordonnées */
  margin-left : 20px ; /* Marge à gauche de 20 pixels pour se décaler du bord */
  margin-bottom : 20px ; /* Marge en bas de 20 pixels pour se décaler du bas du header */
  margin-top : auto ;
  margin-right : auto ;
  /* Margin droit et haut en auto pour que le paragraphe reste en bas à gauche dans le header */
}

/*
4) Section réseaux
*/

#reseau {
  margin-top : 20px ; /* Marge en haut de 20 pixels pour se décaler du haut du header */
  margin-right : 20px ; /* Marge à droite de 20 pixels pour se décaler du bord */
  margin-left : auto ;
  margin-bottom : auto ;
  /* Margin gauche et bas en auto pour que la section reste en haut à droite dans le header */
}

.ul_reseau {
  display : flex ; /* Le ul de la classe ul_reseau devient flex-container */
}

.img-reseau {
  height : 2.5em ; /* Met la hauteur des images de la classe réseau à 2.5em */
  margin : 0px 3px ; /* Met une marge de 3 pixels à droite et à gauche pour mettre un espace entre chaque image */ 
}


/*
5) Liste de noms
*/

.ul_nom {
  margin-top : 20px ;
  margin-right : 20px ;
  margin-left : auto ;
  margin-bottom : 20px ;
}

.nom {
  text-align : right /* Aligne les noms à droite  */
}


/*
6) Autres
*/


/* Les listes de nom et liste de réseaux */
.nom, .coordonne {
  margin : 0px ; /* Enlève les marges mises automatiquement */
}

h5 {
  padding-bottom : 5px ; /* Met un padding en bas de 5 pixels a chaque titre h5 */
}

.p_barre {
  border-bottom : solid 1px white ; /* Met une bordure de 1 pixels en bas */
}


/********************************************************
    VII/ Bouton retour en haut
********************************************************/

/* Un script s'occupe de mettre la class "cache" lorsque le bouton doit être caché et enlève la class quand il doit être visible */

/*
1) Le bouton
*/

/* Le bouton visible */
.haut {
  position : fixed ; /* La position est fixe pour qu'il soit toujours visible */
  overflow : hidden ; /* Ce qui dépasse du bouton est rendu invisible */
  width : 40px ;
  height : 40px ;
  /* Le bouton est un carré de 40 pixels par 40 pixels */
  z-index : 2 ; /* Le bouton passe au dessus des autres éléments */
  transition : .6s cubic-bezier(.858, .01, .068, .99) ; /* Transition lorsque le bouton change de position */
}

/* Le bouton lorsuq'il n'est pas visible */
.haut.cache {
  visibility : hidden ; /* Il n'est pas visible */
}

/* L'arrière plan du bouton fait avec un before pour l'animation */
.haut::before {
  content : '' ; /* Contenu vide obligatoire pour un before */
  position : absolute ; /* Position absolute dans le bouton */
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  /* Prend toute la place du bouton */
  background : black ; /* Couleur d'arrière plan noir */
  transition : .6s cubic-bezier(.858, .01, .068, .99) ; /* Transition lorsque le bouton doit disparaitre */
}

.haut.cache::before {
	transform : translateY(100%) ; /* Lorsque le bouton est invisible l'arrière plan se deplace vers le bas, ce qui permet d'animer le bouton */
}


/*
2) La flèche
*/


/* L'espace de la flèche */
.fleche {
  width : 10px ; /* La largeur est de 10 pixels */
  height : 25px ; /* La hauteur est de 25 pixels */
  position : absolute ; /* Position absolute pour que la flèche ait tout le temps le même espace */
  top : 50% ; 
  left : 50% ;
  /* Le coin en haut à gauche est au centre */
  transform : translate(-50%, -15%) ; /* Translation pour que la flèche soit centrée */
  transition : .6s cubic-bezier(.858, .01, .068, .99) ; /* Transition pour le hover et lorsque la flèche disparait */
}

.haut.cache .fleche {
  transform : translate(-50%, -180%) ; /* Translation pour que la flèche ait une animation lorsqu'elle disparait */
}

.haut:hover .fleche {
	transform : translate(-50%, -50%) ; /* Translation lorsque la souris survole la flèche, la flèche monte en haut */
}

/* Le bout de la flèche est fait avec le before */
/* Pour faire ce bout, c'est un carré avec deux bordures pour faire les traits */
/* Ensuite, on transforme la flèche pour qu'elle soit dans le bon sens */
.fleche::before {
	content : '' ; /* Contenu à vide pour le before */
	width : 8px ; 
	height : 8px ;
  /* Le bout est un carré 8 par 8 */
	border-right : 2px solid #EEEEEE ; /* Bordure à droite */
	border-top : 2px solid #EEEEEE ; /* Bordure en haut */
  /* Nous avons le dessin du bout, maintenant il faut le positioner */
	position : absolute ;
	top : 1px ;
	left : 50% ;
  /* Placement pour que le bout soit au bon endroit */
  transform : translateX(-50%) rotate(-45deg) ;
  /* Transformation pour qu'il soit dans le bon sens */
  transition : .6s cubic-bezier(.858, .01, .068, .99) ; /* Transition pour le hover */
}

/* La tige de la flèche est faite avec le after */
/* Cette fois, c'est un rectangle */
.fleche::after {
	content : '' ; /* Contenu à vide pour le after */
	height : 100% ;
	width : 2px ;
  /* Rectangle */
  background : #EEEEEE ; /* Couleur du rectangle */
  /* Nous avons le dessin de la tige, maintenant il faut le positioner */
  position : absolute ;
	top : 0 ;
	left : 50% ;
  /* Placement pour que la tige soit au bon endroit */
  transform : scaleY(0) translateX(-50%) ;
  /* Transformation pour qu'il soit bien aligné au bout de la flèche et qu'il ne soit pas visible tant qu'il n'y a pas de hover*/
  transform-origin : top ;
	/* La transformation se fait depuis le haut pour que l'animation soit plus belle */
	transition : .6s cubic-bezier(.858, .01, .068, .99) ; /* Animation lors du hover */
}

.haut:hover .fleche:before {
	border-right : 2px solid #124395 ; 
	border-top : 2px solid #124395 ;
  /* Lors du hover, on change la couleur des deux bordures pour que le bout de la flèche devienne bleu */
}

.haut:hover .fleche::after {
	transform : scaleY(1) translateX(-50%) ; /* Transformation pour que la tige soit visible lors du hover */
	background : #124395 ; /* Changement de la couleur pour que la flèche soit bleu */
}

/*
3) positionnement
*/

/* positionnement du bouton selon la taille de l'écran */
@media screen and (min-width : 1200px) {
  /* Positionnement pour que le bouton soit à gauche des noms en grand écran */
  .haut {
    bottom : 74px ;
    right : 170px ;
  }
}

@media screen and (max-width : 1200px) {
  /* positionnement pour que le bouton soit au dessus de "réseaux" */
  .haut {
    bottom : 233px ;
    right : 20px ;
  }
}

@media only screen and (max-width : 900px) {
  /* positionnement pour que le bouton soit au dessus de "réseaux" */
  .haut {
    bottom : 218px ;
    right : 20px ;
  }
}


/********************************************************
    VIII/ Bouton agrandir le graphique
********************************************************/

/*
1) Bouton agrandir 
*/

/* Les boutons agrandir sont codés dans la page d'accueil et du bachelor car ils n'ont pas la même position */

.bouton-agrandir:hover {
  background-color : #CDCDCD ; /* Lors du survol le bouton change de couleur */
}

/*
2) Page de l'image en grand
*/

/* La div qui prend toute la place avec le bouton de fermeture et l'image en grand */
/* Un script lui donne le displauy block quand elle doit être affichée et display none quand elle doit être cachée */
.div-image-agrandir {
  position : fixed ; /* Position fixed car la div est fixe */
  background-color : #EEEEEE ; /* Couleur de l'arrière plan */
  width : 100% ; /* Prend toute la largeur */
  height : 100% ; /* Prend toute la hauteur */
  left : 0 ;
  top : 0 ;
  /* positionnement pour qu'elle soit bien placée */
}

/* L'image sur cette "page" */
#graphique-agrandir {
  display : block ; /* L'image est de type block pour qu'elle puisse être centrée grâce aux margin auto */
  margin-right : auto ;
  margin-left : auto ;
  /* Image centrée horizontalement */
  margin-top : 50px ; /* Marge de 50 pixels en haut pour se décaler du bord */
  width : 80% ; /* La largeur de l'image est de 80% */
}


/*
3) Bouton fermeture 
*/

.bouton-fermeture {
  position : absolute ; /* Position absolute */
  top : 10px ;
  right : 3vw ;
  /* positionnement du bouton */
  cursor : zoom-out; /* Curseur en mode pointeur */
  border-radius : 5px ; /* Les boutons ont les bords arrondis de 5 pixels */
  transition : all .25s ease-in-out ; /* Transition pour le hover */
  background-color : #EEEEEE ; /* La couleur du bouton */
}

.bouton-fermeture:hover {
  background-color : #CDCDCD ; /* Lors du survol le bouton change de couleur */
}


/*
4) Responsivité du bouton de fermeture
*/

/* Le bouton change de taille selon la largeur de la page */

@media screen and (min-width : 1200px) {

  .bouton-fermeture {
    width : 56px ;
    height : 56px ;
  }
  /* Le bouton est de base de 56 pixels par 56 pixels */
}

@media screen and (max-width : 1200px) {

  .bouton-fermeture {
    width : 45px ;
    height : 45px ;
  }
  /* Le bouton est maintenant un carré de 45 pixels par 45 pixels */
}

@media only screen and (max-width : 900px) {

  .bouton-fermeture {
    width : 38px ;
    height : 38px ;
    /* Le bouton est maintenant un carré de 38 pixels par 38 pixels */
  }
}