/********************************************************
        Feuille de style de la page d'accueil
*********************************************************
    I/ Général
    II/ Main
    III/ La partie principale
    IV/ Partie 1
    V/ Partie 2
    VI/ Partie 3
    VII/ Responsivité de la page
    VIII/ Bouton agrandir
        1) Le bouton
        2) Responsivité du bouton
********************************************************/


/********************************************************
    I/ Général
********************************************************/

ul{
  list-style-type : none ; /* Enlève les puces qui sont mises automatiquement sur les listes */
}

*{
  text-decoration : none ; /* Enlève les soulignages qui sont mis automatiquement sur les liens */
}


/********************************************************
    II/ Main
********************************************************/

.ul_main{
  display : flex ; /* Devient flex conteneur */
  flex-wrap : nowrap ; /* Les enfants ne peuvent pas aller à la ligne */
  margin-top : 20px ; /* Marge de 20 pixels en haut */
  margin-bottom : 20px ; /* Marge de 20 pixels en bas */
}

/* Les contenus de chaques parties */
.conteneur_main{
  display : flex ; /* Devient flex conteneur */
  flex-wrap : wrap ; /* Les enfants peuvent aller à la ligne */
  text-align : center ; /* Ils sont alignés au centre */
}

.titre_main{
  flex-basis : 100% ; /* Prend toute la place disponible */
  text-align : center ; /* Le texte est aligné au centre */
  margin-bottom : 10px ; /* Marge en bas de 10 pixels */
  margin-top : 0px ; /* Enlève la marge du haut */
}

/********************************************************
    III/ Partie principale
********************************************************/


#principale-accueil{
  display : flex ; /* Devient flex */
  flex-wrap : nowrap ; /* Ses enfants ne peuvent pas aller à la ligne */
  margin-top : 30px ; /* Marge en haut de 30 pixels */
}

#graphique{
  display : block ; /* Transforme l'image en type block */
}

#titre_principale{
  padding-top : 8% ; /* Le padding du haut est égal à 8% */
}

#p_graphique{
  font-size : 0.5em ; /* La taille de la police est de 0.5 em */
  flex-basis : 40% ; /* Prend 40% de la place */
  margin-right : 20px ; /* Marge de 20 pixels à droite */
  margin-left : 20px ; /* Marge de 20 pixels à gauche */
}

#p_princiaple{
  text-align : center ; /* Aligne le texte au centre */
}

#section_section_principale{
  margin : 0px 45px ; /* Marge de 45 pixels à droite et à gauche */
}


/********************************************************
    IV/ Partie 1
********************************************************/

#img_2{
  display : block ; /* Devient display block pour la marge automatique */
  margin : auto ; /* Marge automatique pour centrer */
}

#p_2{
  margin-left : 15px ; /* Marge gauche de 15 pixels */
}

#p_2-bis{
  padding-top : 25px ; /* Padding de 25 pixels en haut */
  margin-left : 15px ; /* Marge gauche de 15 pixels */
}

.li_main_2{
  flex-basis : 50% ; /* Prend 50% de la place */
}

.h3-marge{
  margin-top : 10px ; /* Marge en haut de 10 pixels */
}


/********************************************************
    V/ Partie 2
********************************************************/


#section_barre_3{
  border-right : solid #124395 ; /* Met une bordure solide bleu à droite de l'élément  */
  border-right-width : 2px ; /* Met l'épaisseur de la bordure de droite à 2px */
  margin-left : 60px ; /* La marge de gauche est de 60 pixels */
  padding-right : 60px ; /* La marge de droite est de 60 pixels */
}

#section_pas_barre_3{
  margin-left : 60px ; /* La marge de gauche est de 60 pixels */
  margin-right : 60px ; /* La marge de droite est de 60 pixels */
}


/********************************************************
    VI/ Partie 3
********************************************************/


#li_barre_4{
  border-right : solid #124395 ; /* Met une bordure solide blanche à gauche de l'élément  */
  border-right-width : 2px ; /* Met l'épaisseur de la bordure de gauche à 2px */
  margin-left : 60px ; /* La marge de gauche est de 60 pixels */
  padding-right : 60px ; /* La marge de droite est de 60 pixels */
}

#li_pas_barre_4{
  margin-left : 60px ; /* La marge de gauche est de 60 pixels */
  margin-right : 60px ; /* La marge de droite est de 60 pixels */
}

/* Liste des 3 types (bachelor, master, école) */
.li_4{
  text-align : left ; /* Le texte est aligné à gauche */
  display : flex ; /* Devient flex*/
  align-items : center ; /* Aligne en hauteur au centre */
}

#lu_4{
  display : block ; /* Devient display block pour la marge automatique */
  margin-left : auto ;
  margin-right : auto ;
  /* Marge à droite et à gauche automatique pour centrer */
}

.img_badge{
  width : 1.5625em ; /* La largeur des badges est de 1.5625em */
  margin-left : 15px ; /* une marge de 15 pixels à gauche pour s'écarter des textes */
}


/********************************************************
    VII/ Responsivité de la page
********************************************************/

/* Fait effet lorsque la largeur de la page est inférieure à 700 pixels */
@media only screen and (max-width : 700px) {

  #graphique{
    width : 15.125rem ; /* La largeur du graphique est de 15.125 rem */
  }

  #img_2{
    width : 11.75em ; /* La largeur de l'image de la partie 2 est de 11.75 em  */
  }
}

/* Fait effet lorsque la largeur de la page est supérieure à 700 pixels */
@media only screen and (min-width : 700px) {

  #graphique{
    width : 20.125rem ; /* La largeur du graphique est de 28.125 rem */
  }

  #img_2{
    width : 14.75em ; /* La largeur de l'image de la partie 2 est de 14.75 em  */
  }
}

/* Fait effet lorsque la largeur de la page est supérieure à 700 pixels */
@media only screen and (min-width : 900px) {

  #graphique{
    width : 28.125rem ; /* La largeur du graphique est de 28.125 rem */
  }

  #img_2{
    width : 18.75em ; /* La largeur de l'image de la partie 2 est de 18.75 em  */
  }
}


/********************************************************
    VIII/ Bouton agrandir
********************************************************/


/*
1) Le bouton
*/

.bouton-agrandir{
  cursor : zoom-in ; /* Le curseur devient une loupe quand il passe sur le bouton */
  position : relative ; /* La position est relative pour positionner le bouton dans le graphique */
  display : flex ; /* Devient flex conteneur et permet d'utiliser align-items et justify-content */
  align-items : center ; /* Permet de centrer la loupe verticalement */
  justify-content : center ; /* Permet de centrer la loupe horizontalement */
  border-radius : 5px ; /* Les bords sont arrondis de 5 pixels */
  background-color : #EEEEEE ; /* Couleur de l'arrière plan */
}


/*
2) Responsivité du bouton
*/

/* Fait effet lorsque la taille de l'écran est inférieure à 700 pixels */
@media only screen and (max-width : 700px) {

  .bouton-agrandir{
    right : 258px ;
    top : 120px ;
    height : 26px ;
    width : 26px ;
    /* Modifie la taille ainsi que l'emplacement du bouton */
  }

  .svg-bouton-zoom{
    height : 10px ;
    width : 10px ;
    /* Taille de la loupe qui est dans le bouton */
  }
}

/* Fait effet lorsque la taille de l'écran est supérieure à 700 pixels */
@media only screen and (min-width : 700px) {

  .bouton-agrandir{
    right : 335px ;
    top : 150px ;
    height : 30px ;
    width : 30px ;
    /* Modifie la taille ainsi que l'emplacement du bouton */
  }

  .svg-bouton-zoom{
    height : 12px ;
    width : 12px ;
    /* Taille de la loupe qui est dans le bouton */ 
  }
}

/* Fait effet lorsque la taille de l'écran est supérieure à 900 pixels */
@media only screen and (min-width : 900px) {

  .bouton-agrandir{
    right : 460px ;
    top : 220px ;
    height : 36px ;
    width : 36px ;
    /* Modifie la taille ainsi que l'emplacement du bouton */
  }
}