/********************************************************
      Feuille de style de la page École d'ingénieur
*********************************************************
    I/ Général
    II/ Main
    III/ La liste des sections (les <li>)
    IV/ La partie Big Data
    V/ La partie Intélligence artificielle
    VI/ La partie Cybersécurité
    VII/ La partie Développeur de logiciel
    VIII/ Aside
    IX/ Résponsivité
********************************************************/



/********************************************************
    I/ Général
********************************************************/


*{
  list-style-type : none ; /* Enlève les puces qui sont mises automatiquement sur les listes */
  text-decoration : none ; /* Enlève les soulignages qui sont mis automatiquement sur les liens */
}


/********************************************************
    II/ Main
********************************************************/


main{
  display : flex ; /* Le main devient flex-conteneur et ses enfants flex-items */
  flex-wrap : wrap ; /* Ses enfants peuvent aller à la ligne */
}


/********************************************************
    III/ La liste des sections (les <li>)
********************************************************/


.conteneur{
  padding-bottom : 10px ; /* Les sections ont un padding de 10 pixels en dessous */
  flex-wrap : nowrap ; /* Les enfants des <li> ne peuvent pas aller à la ligne */
}

.p_metier{
  margin-right : 10px ; /* La marge à droite est de 10 pixels */
  margin-left : 10px ; /* La marge à gauche est de 10 pixels */
  /* Cela permet de laisser de la place autours des paragraphes */
  text-align : center ; /* Les textes sont alignés au centre */
}

h3{
  text-align : center ; /* Les titres de types h3 sont centrés */
}

.img_metier{
  height : 60% ; /* La hauteur des images prend 60% de la hauteur disponible */
  margin-left : 10px ; /* Les images ont un padding de 10 pixels à gauche pour se décaler des textes du bords */
  margin-right : 10px ; /* Les images ont un padding de 10 pixels à droite pour se décaler des textes du bord */
  margin-top : auto ; /* La marge au dessus est automatique */
  margin-bottom : auto ; /* La marge en dessous est automatique */
  /* Le fait de mettre le haut et le bas en auto, permet de centrer l'image verticalement */
}

.ul_metier{
  display : flex ; /* Le ul devient flex conteneur donc ses enfants flex items */
  flex-wrap : wrap ; /* Ses enfants peuvent aller à la ligne */
  padding : 0px ; /* Enlève le padding mis automatiquement sur les listes */
  margin-top : 25px ; /* La marge au dessus est de 25 pixels, cela permet de s'éloigner de la partie principale */
  padding-right : 10px ; /* Padding de droite de 10 pixels */
  padding-left : 10px ; /* Padding de gauche de 10 pixels */

}


/********************************************************
    IV/ La partie Big Data
********************************************************/


#img-data{
  width : 11em ; /* L'image de la partie big data à une largeur de 11 em */
}

/* Touche le paragraphe numéro 1 */
#li-big-data-1{
  flex-basis : 100% ; /* Ce paragraphe prend toute la place */
  margin-bottom : 20px ; /* La marge en dessous est de 20 pixels */
}

/* Touche le paragraphe numéro 2 */
#li-big-data-2{
  flex-basis : 45% ; /* Ce paragraphe prend 45% de la place */
  margin-left : auto ; /* La marge gauche est automatique */
  margin-right : auto ; /* La marge droite est automatique */
  /* Permet de centrer le paragraphe */
  padding-right : 20px ; /* Padding de 20 pixels à droite pour le placement de la bordure */
  border-right : solid #124395 ; /* Met une bordure solide bleu à droite */
  border-right-width : 2px ; /* La bordure est de 2 pixels  */
}

/* Touche le paragraphe numéro 3 */
#li-big-data-3{
  flex-basis : 45% ; /* Ce paragraphe prend 45% de la place */
  margin : auto ; /* Les marges sont automatiques, cela place le paragraphe au centre */
}


/********************************************************
    V/ La partie Intélligence artificielle
********************************************************/

#img-ia{
  margin-top : 70px ; /* L'image a une marge de 70 pixels en haut */
  margin-bottom : 0px ; /* L'image a une marge de 0 pixels en bas */
}

#ul-ia{
  flex-wrap : nowrap ; /* Les enfants ne peuvent pas aller à la ligne, ils sont donc sur la même ligne */
  margin-right : 10px ; /* La marge droite est de 10 pixels */
  margin-left : 20px ;  /* La marge gauche est de 20 pixels */
  padding : 0px ; /* Enlève le padding qui est mis de base */
}

#li-ia-1{
  border-right : solid #124395 ; /* Met une bordure solide bleu à droite */
  border-right-width : 2px ; /* La bordure fait 2 pixels d'épaisseur */
  padding-right : 20px ; /* Padding droit de 20 pixels pour le positionnement de la bordure */
}

#li-ia-2{
  margin-left : 20px ; /* La marge gauche est de 20 pixels */
}


/********************************************************
    VI/ La partie Cybersécurité
********************************************************/


#ul-cybersecu{
  margin-top : 0px ; /* La marge au dessus de l'image est de 0 pixels */
}

#li-cyber-1, #li-cyber-2, #li-cyber-3{
  flex-basis : 100% ; /* Les 3 paragraphes prennent toute la place disponible */
  margin-right : 50px ; /* Ils ont tous une marge droite de 50 pixels */
  margin-left : 50px ; /* Ils ont tous une marge gauche de 50 pixels */
}

#li-cyber-1{
  border-top : solid #124395 ; /* Met une bordure solide bleu au dessus */
  border-top-width : 2px ; /* La bordure est de 2 pixels */
  padding-top : 10px ; /* Padding de 10 pixels en haut pour le placement de la bordure */
}


/********************************************************
    VII/ La partie Développeur de logiciel
********************************************************/


#li-dev-1, #li-dev-2{
  flex-basis : 100% ; /* Les deux paragraphes prennent 100% de la place disponible */
  margin-right : 50px ; 
  margin-left : 50px ;
  /* Marge à gauche et à droite de 50 pixels */
}

#li-dev-1{
  margin-bottom : 10px ; /* Marge en dessous de 10 pixels */
  border-bottom : solid #124395 ; /* Met une bordure solide bleu en bas */
  border-bottom-width : 2px ; /* La bordure fait 2 pixels */
  padding-bottom : 10px ; /* Padding de 10 pixels en dessous, pour le placement de la bordure */
}

/********************************************************
    VIII/ Aside
********************************************************/

aside{
  height : 785px ; /* La hauteur du aside est de 785 pixels */
}

#h3_aside{
  margin-top : 20px ; /* Le titre h3 du aside a une marge au dessus de 20 pixel */
  margin-left : 25px ; /* Marge à gauche de 25 pixels */
}

.li-barre-aside{
  border-bottom : solid #124395 ; /* Met une bordure solide bleu en bas de chaque école d'ingénieurs */
  border-bottom-width : 1px ; /* La bordure est de 1 pixels */
}

.li_aside{
  padding-bottom : 12px ; /* Padding de 12 pixels en bas */
  padding-top : 13px /* Padding de 13 pixels en haut */
  /* Permet le positionnement de la barre */
}

.a_aside{
  color : #000000 ; /* Modifie la couleur en noir */
}

/* Lors du survol des liens des écoles d'ingénieurs */
.a_aside:hover{
  color : grey ; /* La couleur devient grise */
}

#ul_aside{
  padding-right : 40px ; /* Padding de 40 pixels à droite */
}


/********************************************************
    IX/ Résponsivité
********************************************************/

/* 3 breakpoints */


/* Lorsque la taille d'écran est supérieure à 1200 pixels */
@media screen and (min-width : 1200px) {

  .img_metier{
    width : 12em ; /* La largeur des images est de 12 em */
  }

  #img-dev {
    margin-top : 20px ; /* La marge en haut est de 20 pixels */
    margin-bottom : 10px ; /* La marge en bas est de 10 pixels */
  }
}

/* Lorsque la taille d'écran est inférieure à 1200 pixels */
@media screen and (max-width : 1200px) {

  .img_metier{
    width : 10.5em ; /* La largeur des images est maintenant de 10.5 em */
  }

  #img-dev {
    margin-top : 20px ; /* La marge en haut est de 20 pixels */
    margin-bottom : 10px ; /* La marge en bas est de 10 pixels */
  }
}

/* Lorsque la taille d'écran est inférieure à 700 pixels */
@media only screen and (max-width : 700px) {

  .img_metier{
    width : 8.8em ; /* La largeur des images est maintenant à 8.8 em */
  }
}