/********************************************************
          Feuille de style de la page Master
*********************************************************
    I/ Général
    II/ Main
    III/ La partie principale
    IV/ La liste des sections (les <li>)
    V/ La partie consultant
********************************************************/


/********************************************************
    I/ Général
********************************************************/

*{
  list-style-type : none ; /* Enlève les puces qui sont mises automatiquement sur les listes */
  text-decoration : none ; /* Enlève les soulignages qui sont mis automatiquement sur les liens */
}


/********************************************************
II/ Main
********************************************************/

main{
  display : flex ; /* Le main devient flex-conteneur et ses enfants flex-items */
  flex-wrap : wrap ; /* Ses enfants peuvent aller à la ligne */
}


/********************************************************
  III/ La partie principale
********************************************************/

.p-principal{
width : 400px ; /* La largeur du paragraphe est de 400 pixels */
}


/********************************************************
  IV/ La liste des sections (les <li>)
********************************************************/

.conteneur{
flex-wrap : nowrap ; /* Les enfants restent sur la même ligne */
}

h4{
color : #124395 ; /* Les titres h4 sont de couleur bleu */
text-align : center ; /* Ils sont alignés */
margin-right : 35px ; /* Marge de 35 pixels à droite */
}

h3{
text-align : center ; /* Les titres h3 sont alignés */
}

.img_metier{
object-fit : cover ; /* Les images sont de type cover */
height : 70% ; /* La hauteur est de 70% */
margin-left : 5px ; 
margin-right : 5px ;
/* Marge droite est gauche de 5 pixels */
}

.img_salaire{
display : block ; /* Les images salaires sont de types block, permet un meilleur positionnement */
margin-right : auto ;
margin-left : auto ;
/* Les marges droite et gauche sont auto, donc l'image est centrée verticalement */
margin-bottom : 20px ; /* La marge d'en dessous est de 20 pixels */
margin-top : 10px ; /* La marge en haut est de 10 pixels */
}

.ul_metier{
display : flex ; /* Devient flex conteneur */
flex-wrap : nowrap ; /* Ses enfants peuvent rester sur la même ligne */
padding-left : 15px ; /* Le padding gauche est de 15 pixels */
}

.p_metier{
text-align : center ; /* Les paragraphes sont centrés */
margin-right : 35px ; /* Marge de 35 pixels à droite */
}

.li_barre{
margin-right : 20px /* Marge de 20 pixels à droite, joue sur la position de la barre */
}

.article_barre{
border-right-style : solid ; /* Met une bordure solide à droite */
border-right-width : 2px ; /* Bordure de 2 pixels */
border-color : #124395 ; /* Bordure bleu */
}

.section_metier{
margin-top : 20px ; /* Marge en haut de 20 pixels */
}

/********************************************************
  V/ La partie consultant
********************************************************/

#ul_consultant{
display : flex ; /* Devient flex */
flex-wrap : wrap ; /* Ses enfants peuvent aller à la ligne */
padding-left : 15px ; /* Padding gauche de 15 pixels */
}

/* Les 3 paragraphes */
#li_consultant_1, #li_consultant_2, #li_consultant_3{
flex-basis : 50% ; /* Prend 50% de la place */
margin : auto ; /* Marge en automatique, pour centrer */
}

/* Le titre h4 du 3ème paragraphe */
#h4_consultant_3{
margin-right : 20px ; /* Marge de 20 pixels à droite */
border-top-style : solid ; /* Met une bordure solide en haut */
border-top-width : 2px ; /* Bordure de 2 pixels */
border-color : #124395 ; /* Bordure bleu */
padding-top : 15px ; /* Padding de 15 pixels pour jouer sur le positionnement de la bordure */
}

#p_consultant_3{
text-align : center ; /* Le paragraphe 3 est centré */
margin-right : 20px ; /* Marge droite de 20 pixels */
}