/********************************************************
          Feuille de style du menu déroulant
*********************************************************
    I/ Police
    II/ Header
    III/ Affichage du menu
    IV/ Bouton hamburger et de fermeture
        1) Configuration des boutons
        2) Le contenu des boutons
        3) Responsivité du bouton 
    V/ Le nav du menu déroulant
    VI/ Les <a> du nav du menu déroulant
        1) Positionnement des <a>
        2) Les délais pour les <a>
            a) A l'arrivé
            b) Au départ
    VII/ Demi-flèche
********************************************************/



/********************************************************
    I/ Police
********************************************************/


/* Ajout de la police Font Awesome 5 Pro, cette police permettra d'afficher la croix et le menu hamburger car ils sont en unicode */
@font-face {
	font-family : 'Font Awesome 5 Pro' ;
	src : url(../police/fa-light-300.woff2) format('woff2'), url(../police/fa-regular-400.woff2) format('wolf2'), url(../police/fa-solid-900.woff2) format('wolf2')
}


/********************************************************
    II/ Header
********************************************************/

/* Le scroll horizontal est enlevé, pour éviter de scroll et de voir le bouton caché*/
header{
  overflow-x : hidden ;
}


/********************************************************
    III/ Affichage du menu
********************************************************/

/* Breakpoint à 1200px de largeur */

/* Lorsque l'écran est supérieur à 1200px */
@media screen and (min-width : 1200px) {

  #nav_horizontal{
    display : block ; /* Le nav horizontal est en display block, il est visible */
  }
  
  .icon{
    display : none ; /* Le bouton pour ouvrir le menu est en display none, il est donc non visible */
  }
}

/* Lorsque l'écran est supérieur à 1200px */
@media screen and (max-width : 1200px){

  #nav_horizontal{
    display : none ; /* Le nav horizontal est en display none, il est non visible */
  }
    
  .icon{
    display : block ; /* Le bouton pour ouvrir le menu est en display block, il est donc visible */
  }
}


/********************************************************
    IV/ Bouton hamburger et de fermeture
********************************************************/

/* Pour les deux boutons, un script donne au bouton qui doit être affiché la class "active" */
/* Le bouton hamburger est celui qui est présent au début avec la class "active1" */

/*
1) Configuration des boutons
*/


/* Lorsque le bouton n'est pas visible */
.icon{
  width : 47px ; /* Le bouton à une largeur de 47 pixels */
  height : 55px ; /* Le bouton à une haiuteur de 55 pixels */
  transform : translateX(200px) ; /* Le bouton est déplacé à 200px sur la droite, il n'est donc pas dans l'écran */
  transition :1.5s cubic-bezier(.858, .01, .068, .99) 0.2s ; /* Les boutons on une animation qui dure 1.5 secondes avec un delai de 0.2 secondes, l'animation s'execute lors de la translation des boutons pour venir sur l'écran */
}

/* Lorsque le bouton est visible, donc à l'écran */
.icon.active1, .icon.active{
  transform : translateX(0px) ; /* Le bouton revient à sa place, c'est à dire-à-droite du logo de l'I.U.T. */
  margin-left : 20px ; /* Le bouton à une marge de 20 pixels à gauche pour se décaller du logo de l'I.U.T. */
  cursor : pointer ; /* Lorsque la souris survole le bouton, le curseur est en mode pointer pour indiquer qu'on peut cliquer dessus */
}

/* Le bouton croix */
#icon-croix.active{
  transform : translatex(-101%) ; /* Deplace le bouton de 101% sur la gauche pour que celui-ci soit au même endroit que le bouton hamburger */
}


/*
2) Le contenu des boutons
*/

/* Le contenu du bouton hamburger, pour ouvrir le menu */
.menu-hamburger::before{
  content : "\f0c9" ; /* Le contenu qui est l'unicode du "menu-hamburger" */
  font-family : "Font Awesome 5 Pro" ; /* Utilisation de la police Font Awesome 5 Pro pour décoder l'unicode */ 
  font-weight : 1000 ; /* La grasse du contenu est de 1000 */
  font-size : 34px ; /* La taille de la police est de 34 pixels */
  font-style : normal ; /* Selectionne la police normal, pour pas que le menu-hamburger soit en italique */
  color : #124395 ; /* La couleur du contenu */
  
  /* Positionnement du contenu */
  position : relative ; /* Le contenu est en position relative */
  top : 3px ; /* On le décale de 3 pixels du haut */
  padding : 8px ; /* Padding de 8 pixels */
  display : inline-block ; /* Transforme le contenu en type inline-block pour jouer sur son placement */
}

/* Le contenu du bouton fermeture, pour fermer le menu*/
.croix-fermeture::before{
  content : "\f00d" ; /* Le contenu qui est l'unicode de la "croix" */
  font-family : "Font Awesome 5 Pro" ; /* Utilisation de la police Font Awesome 5 Pro pour décoder l'unicode */ 
  font-weight : 300 ; /* La grasse du contenu est de 300 */
  font-size : 39px ; /* La taille de la police est de 39 pixels */
  font-style : normal ; /* Selectionne la police normal, pour pas que la croix soit en italique */
  color : #124395 ; /* La couleur du contenu */

  /* Positionnement du contenu */
  position : relative ; /* Le contenu est en position relative */
  top : 3px ; /* On le décale de 3 pixels du haut */
  padding : 6px 11px ; /* Padding de 6 pixels en haut et en bas, et 11 pixels à droite et à gauche */
  display : inline-block ; /* Transforme le contenu en type inline-block pour jouer sur son placement */
}


/* 
3) Responsivité du bouton 
*/

/* Fait effet lorque la taille de l'écran est inférieure à 700 pixels */
@media only screen and (max-width : 700px) {

  .menu-hamburger::before {
    font-size : 29px ; /* Modification de la taille de la police, elle est maintenant de 29 pixels */
  }

  .croix-fermeture::before{
    font-size : 32px ; /* Modification de la taille de la police, elle est maintenant de 32 pixels */
  }
}


/********************************************************
    V/ Le nav du menu déroulant
********************************************************/

/* Un script met la class "active" au nav lorsque celui-ci doit être affiché */

/* Configuration du nav qui est hors de l'écran à droite lorsqu'il n'est pas activé */
#nav-barre{
  width : 100% ; /* Le nav prend toute la largeur */
  height : 100% ; /* Le nav prend toute la hauteur */
  position : fixed ; /* Le nav à une position fixe */
  left : 100% ; /* Est écarté de la gauche de 100%, il se retrouve hors de l'écran */
  top : 80px ; /* Est écarté de 80 pixels du haut pour laisser place au header */
  background-color : #EEEEEE ; /* Couleur de l'arrière plan */
  transition :1s cubic-bezier(.858, .01, .068, .99) ; /* Transition de 1 seconde, pour animer l'arrivé et le départ du nav */
}

/* Lorsque le nav est activé */
#nav-barre.active{
  transform : translateX(-100%) ; /* Le nav est déplacé de 100% vers la gauche pour qu'il arrive à l'écran avec une animation */
}

/* Responsivité du nav */
/* À 700 pixels le header ne fait plus que 55 pixels de hauteur, il faut donc modifier la position du nav */
@media only screen and (max-width : 700px) {
  
  #nav-barre{
    top : 55px ; /* Le nav est décalé de 55 pixels du haut pour laisser pile la place du header */
  }
}


/********************************************************
    VI/ Les <a> du nav du menu déroulant
********************************************************/

/* Un script met la class "active" aux <a> du nav lorsqu'ils doivent être affichés */

/*
1) Positionnement des <a>
*/

/* Lorsque les <a> ne sont pas activés, ils sont hors de leur parent */

/* Parent des <a> */
.li_nav_responsive{
  overflow : hidden ; /* Les élements hors du cadre sont rendu non visible, cela permet de cacher les <a> */
}

/* Les <a> du nav */
.a_nav_responsive{
  transform : translateY(104%) ; /* Les <a> sont mis à 104% en dessous de leur parent, ils sont donc rendu invisible */
  transition : 1.5s cubic-bezier(.225, 1, .316, .99) ; /* Transition de 1.5 secondes qui permet d'animer le déplacement des <a> */
  display : flex ; /* Rend les enfants des <a> flex items et les <a> flex conteneur */
  font-size : 28px ; /* La taille de la police est de 28 pixels */
  color : #124395 ; /* Modification de la couleur des textes*/
  
  /* Positionnement des <a> */
  padding-left : 48px ; /* Padding de 48 pixels à gauche */
  padding-right : 48px ; /* Padding de 48 pixels à droite */
  padding-top : 40px ;  /* Padding de 40 pixels en haut */
}

/* Lorsque les <a> sont activés */
.a_nav_responsive.active{
  transform : translateY(0) ; /* Ils se déplacent à leur position d'origine dans leur parent donc sont rendu visible */
}

#ul_nav_responsive{  
  padding : 0px ; /* Enlève le padding mis de base */
}


/*
2) Les délais pour les <a>
*/

/* Pour faire que les <a> arrivent et partent en décalage, ils leur faut donc un delai de transition différents */


/*
a) A l'arrivé
*/

#a-1.active{
  transition-delay : .9s ;
}

#a-2.active{
  transition-delay : .8s ;
}

#a-3.active{
  transition-delay : .7s ;
}

#a-4.active{
  transition-delay : .6s ;
}


/*
b) Au départ
*/

#a-1{
  transition-delay : 0s ;
}

#a-2{
  transition-delay : 0.1s ;
}

#a-3{
  transition-delay : 0.2s ;
}

#a-4{
  transition-delay : 0.3s ;
}


/********************************************************
    VII/ Demi-flèche
********************************************************/

/* Un script fait le hover sur les <a> pour afficher les demi-flèches en modifiant l'opacité que nous allons faire dans cette partie  */

.span1{
  display : block ; /* Transforme en type block */
  width : 100% ; /* L'élément prend 100% de la largeur */
  border-bottom : solid #124395 ; /* Met une bordure solide bleu en bas des éléments pour faire la barre de séparation */
  border-bottom-width : 2px ; /* La bordure est de 2 pixels */
  padding-bottom : 8px ; /* Met un padding de 3 pixels en bas */
}

.span2{
  display : block ; /* Transforme en type block */
  height : 47px ; /* Hauteur de 47 pixels */
  margin-inline-end : -48px ; /* Met un margin négatif de -48 pixels pour aller dans le padding du <a> */
  border-bottom : solid #124395 ; /* Met une bordure solide bleu en bas des éléments pour faire la barre de séparation */
  border-bottom-width : 2px ; /* La bordure est de 2 pixels */
  padding-bottom : 3px ; /* Met un padding de 3 pixels en bas */
}

/* Svg qui représente une demi-flèche */
.demi-fleche{
  transform : scaleX(-1) ; /* Retourne la demi-flèche pour qu'elle soit dans le bon sens */
  opacity : 0 ; /* L'opacité est à 1 donc les demi-flèches ne sont pas visible */
  margin-right: 20px; /* Met une marge de 20 pixels à droite */
}

/* Survol du span1 */
.span1:hover{
  color : grey ; /* La couleur devient gris */
}